<div class="container" >
    <div class="row">

      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="./assets/images/house.jpg" alt="Card image cap">
        <div class="card-body">
          <!-- <h5 class="card-title">Card title</h5> -->
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a routerLink="register" class="list-group-item list-group-item-action active" style="text-align: center">ADD USER</a>
        </div>
      </div>&nbsp;&nbsp;&nbsp;&nbsp;

      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="./assets/images/addLandlord.jpg" alt="Card image cap">
        <div class="card-body">
          <!-- <h5 class="card-title">Card title</h5> -->
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a routerLink="addLandlord" class="list-group-item list-group-item-action active" style="text-align: center">ADD LANDLORD</a>
        </div>
      </div>&nbsp;&nbsp;&nbsp;&nbsp;

      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="./assets/images/house.jpg" alt="Card image cap">
        <div class="card-body">
          <!-- <h5 class="card-title">Card title</h5> -->
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a routerLink="addtenant" class="list-group-item list-group-item-action active" style="text-align: center">ADD TENANT</a>
        </div>
      </div>&nbsp;&nbsp;&nbsp;&nbsp;

      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="./assets/images/house.jpg" alt="Card image cap">
        <div class="card-body">
          <!-- <h5 class="card-title">Card title</h5> -->
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a routerLink="flat/addflat" class="list-group-item list-group-item-action active" style="text-align: center">ADD FLATS</a>
        </div>
      </div>

      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="./assets/images/house.jpg" alt="Card image cap">
        <div class="card-body">
          <!-- <h5 class="card-title">Card title</h5> -->
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a routerLink="listUser" class="list-group-item list-group-item-action active" style="text-align: center">VIEW USER</a>
        </div>
      </div>&nbsp;&nbsp;&nbsp;&nbsp;

      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="./assets/images/landlords.jpg" alt="Card image cap">
        <div class="card-body">
          <!-- <h5 class="card-title">VIEW LANDLORDS</h5> -->
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a routerLink="listlandlord" class="list-group-item list-group-item-action active" style="text-align: center">VIEW LANDLORDS</a>
        </div>
      </div>&nbsp;&nbsp;&nbsp;&nbsp;

      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="./assets/images/house.jpg" alt="Card image cap">
        <div class="card-body">
          <!-- <h5 class="card-title">Card title</h5> -->
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a routerLink="viewtenant" class="list-group-item list-group-item-action active" style="text-align: center">VIEW TENANT</a>
        </div>
      </div>&nbsp;&nbsp;&nbsp;&nbsp;

      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="./assets/images/ViewFlat.jpg" alt="Card image cap">
        <div class="card-body">
          <!-- <h5 class="card-title">View Flats</h5> -->
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a routerLink="flat/listflat" class="list-group-item list-group-item-action active" style="text-align: center">VIEW FLATS</a>
        </div>
      </div>&nbsp;&nbsp;&nbsp;&nbsp;
      
    </div>
  </div>