
<div class="row"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <div class="card" style="width: 18rem;">
    <img class="card-img-top" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSIywEQ_4H2EIzNCePoAXeCqdrdZae6U4KtjQ&usqp=CAU" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Abigail Keziah </h5> 
      <p class="card-text">Flat Booking module has been done by Abigail Keziah - TEAM LEAD</p>

    </div>
  </div>&nbsp;&nbsp;&nbsp;&nbsp;

  <div class="card" style="width: 18rem;">
    <img class="card-img-top" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRqRd2Eu1-VYlDJIuz366oDEcu5UbATGbRjKg&usqp=CAU" alt="Card image cap">
    <div class="card-body">
       <h5 class="card-title"> Santhosh </h5> 
      <p class="card-text">Landlord module has been done by Santhosh - TEAM MEMBER</p>

    </div>
  </div>&nbsp;&nbsp;&nbsp;&nbsp;


  <div class="card" style="width: 18rem;">
    <img class="card-img-top" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSIywEQ_4H2EIzNCePoAXeCqdrdZae6U4KtjQ&usqp=CAU" alt="Card image cap">
    <div class="card-body">
       <h5 class="card-title">Sathya</h5>
      <p class="card-text">Tenant module has been done by Sathya - TEAM MEMBER</p>
    </div>
  </div>&nbsp;&nbsp;&nbsp;&nbsp;

  <div class="card" style="width: 18rem;">
    <img class="card-img-top" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRqRd2Eu1-VYlDJIuz366oDEcu5UbATGbRjKg&usqp=CAU" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Sathya Sivam</h5> 
      <p class="card-text">User and login module has been done by Sathya Sivam - TEAM MEMBER</p>

    </div>
  </div>&nbsp;&nbsp;&nbsp;&nbsp;


  <div class="card" style="width: 18rem;">
    <img class="card-img-top" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSIywEQ_4H2EIzNCePoAXeCqdrdZae6U4KtjQ&usqp=CAU" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Naveena</h5> 
      <p class="card-text">Flat module has been done by Naveena - TEAM MEMBER</p>

    </div>
  </div>&nbsp;&nbsp;&nbsp;&nbsp;


</div>