    <div class="bs-example">
     
      <nav class="navbar navbar-expand-md  navbar-dark bg-dark" >
        <img src="./assets/th.jpg" class="rounded-circle" height="50" width="70" />
        <a routerLink="homepage" class="nav-item nav-link active">HOME</a>
     
        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
         
          <div class="navbar-nav ml-auto">
            <a routerLink="listflat" class="nav-item nav-link">VIEW ALL FLAT</a>
            <a routerLink="addflat" class="nav-item nav-link">ADD FLAT</a>
          </div>
        </div>
      </nav>
    </div>
  
    <router-outlet></router-outlet>
  